<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./output.css">
    <title>Day - 1</title>
</head>
<body class="bg-gradient-to-r from-slate-700 to-slate-500 ">
    <header class="px-10 h-24 flex items-center bg-slate-800 text-white">
        <nav class="flex justify-between w-full">
            <div class="logo font-black">
                <a href="#">Logo</a>
            </div>
            <ul class="flex gap-10">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>