<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./output.css">
    <title>Day - 2</title>
</head>
<body class="font-nunito bg-dark_purple text-white text-center">
    <div class="text-center py-10">
        <h5 class="text-heading_color">Testimonials</h1>
        <h1 class="text-4xl w-98 mx-auto leading-normal font-bold mb-12">Read what others have to say</h1>
    </div>
    <div class="flex max-w-5xl mx-auto gap-8 group">
        <div class="bg-white/10 duration-500 group-hover:blur-sm hover:!blur-none cursor-pointer group-hover:scale-[0.85] hover:!scale-100 p-8 rounded-xl mix-blend-luminosity">
            <img src="../img/nature_mountain.png" class="h-20 w-20 mx-auto rounded-full">
            <h4 class="uppercase text-xl font-bold py-5">Beauty of nature</h4>
            <p class="text-sm leading-7 my-3 font-light opacity-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas dolor non inventore!</p>
            <button class="bg-btn_primary py-2.5 px-8 rounded-full">Get in touch</button>
        </div>
        <div class="bg-white/10 duration-500 group-hover:blur-sm hover:!blur-none cursor-pointer group-hover:scale-[0.85] hover:!scale-100 p-4 rounded-xl mix-blend-luminosity">
            <img src="../img/nature_mountain.png" class="h-20 w-20 mx-auto rounded-full">
            <h4 class="uppercase text-xl font-bold py-5">Beauty of nature</h4>
            <p class="text-sm leading-7 my-3 font-light opacity-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Voluptas dolor non inventore!</p>
            <button class="bg-btn_primary py-2.5 px-8 rounded-full">Get in touch</button>
        </div>
        <div class="bg-white/10 duration-500 group-hover:blur-sm hover:!blur-none cursor-pointer group-hover:scale-[0.85] hover:!scale-100 p-8 rounded-xl mix-blend-luminosity">
            <img src="../img/nature_mountain.png" class="h-20 w-20 mx-auto rounded-full">
            <h4 class="uppercase text-xl font-bold py-5">Beauty of nature</h4>
            <p class="text-sm leading-7 my-3 font-light opacity-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Voluptas dolor non inventore!</p>
            <button class="bg-btn_primary py-2.5 px-8 rounded-full">Get in touch</button>
        </div>
    </div>
</body>
</html>